In [1]:
import datetime
from dateutil.relativedelta import relativedelta

In [2]:
# string to date
datetime.datetime.strptime("2018-01-31", "%Y-%m-%d")

datetime.datetime(2018, 1, 31, 0, 0)

In [3]:
# 1 year before
testDate=datetime.datetime.strptime("2018-01-31", "%Y-%m-%d")
(testDate-relativedelta(years=1)).strftime("%Y-%m-%d")

'2017-01-31'

In [2]:
# data period
def getDataPeriod(n):
    firstPeriod=['2021-09-30','2021-12-31','2022-03-31','2022-06-30']
    allPeriod=[]

    for i in range(n):
        tempPeriod=[]
        for j in range(4):
            thisSeason=datetime.datetime.strptime(firstPeriod[j], "%Y-%m-%d")
            nYearBefore=(thisSeason-relativedelta(years=n-i-1)).strftime("%Y-%m-%d")
            tempPeriod.append(nYearBefore)
        allPeriod.append(tempPeriod)
    return allPeriod

In [3]:
#get statement data
import requests
import pandas as pd

def getStatement(start_date):
    url = "https://api.finmindtrade.com/api/v4/data"
    parameter = {
        "dataset": "TaiwanStockFinancialStatements",
        "start_date": start_date,
        "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyMi0xMS0wMSAyMzowMToxNiIsInVzZXJfaWQiOiJ1dXV1MTExMiIsImlwIjoiMzYuMjM4LjEzOC4zMiJ9.5ScL059fjcM0AbAVXM8JE4W2pupNQifjQqN3Mi3V7hU", # 參考登入，獲取金鑰
    }
    data = requests.get(url, params=parameter)
    data = data.json()
    data = pd.DataFrame(data['data'])
    return data

# def getBalanceSheet(start_date):
#     url = "https://api.finmindtrade.com/api/v4/data"
#     parameter = {
#         "dataset": "TaiwanStockFinancialStatements",
#         "start_date": start_date,
#         "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyMi0xMS0wMSAyMzowMToxNiIsInVzZXJfaWQiOiJ1dXV1MTExMiIsImlwIjoiMzYuMjM4LjEzOC4zMiJ9.5ScL059fjcM0AbAVXM8JE4W2pupNQifjQqN3Mi3V7hU", # 參考登入，獲取金鑰
#     }
#     data = requests.get(url, params=parameter)
#     data = data.json()
#     data = pd.DataFrame(data['data'])
#     return data

In [6]:
# getStatement(getDataPeriod(5)[1][2])
getDataPeriod(5)[1][3]
getStatement('2019-03-31')

,date,stock_id,type,value,origin_name
0,2019-03-31,000116,EPS,2.400000e-01,基本每股盈餘（元）
1,2019-03-31,000116,EquityAttributableToOwnersOfParent,4.655690e+08,綜合損益總額歸屬於母公司業主
2,2019-03-31,000116,Expense,8.954980e+08,支出及費用
3,2019-03-31,000116,Income,1.077910e+09,收益
4,2019-03-31,000116,IncomeAfterTaxes,2.743220e+08,本期淨利（淨損）
...,...,...,...,...,...
27282,2019-03-31,9960,TotalConsolidatedProfitForThePeriod,1.534400e+07,本期綜合損益總額
27283,2019-03-31,9960,TotalNonoperatingIncomeAndExpense,5.408000e+06,營業外收入及支出
27284,2019-03-31,9962,CostOfGoodsSold,5.369030e+08,營業成本
27285,2019-03-31,9962,EPS,-1.400000e-01,基本每股盈餘（元）
27286,2019-03-31,9962,GrossProfit,2.721000e+06,營業毛利（毛損）

In [19]:
# get statement sqlite data
import sqlite3

n=25
nPeriod=getDataPeriod(n)
conn=sqlite3.connect('statementData')
for i in range(len(nPeriod)):
    for j in range(4):
        getStatement1=getStatement(nPeriod[i][j])
        getStatement1.to_sql('statement'+nPeriod[i][j].replace('-','s'),conn,if_exists='replace')

In [5]:
#get revenue data
import requests
import pandas as pd
def getRevenue(start_date):
    url = "https://api.finmindtrade.com/api/v4/data"
    parameter = {
        "dataset": "TaiwanStockMonthRevenue",
        "start_date": start_date,
        "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyMi0xMS0wMSAyMzowMToxNiIsInVzZXJfaWQiOiJ1dXV1MTExMiIsImlwIjoiMzYuMjM4LjEzOC4zMiJ9.5ScL059fjcM0AbAVXM8JE4W2pupNQifjQqN3Mi3V7hU", # 參考登入，獲取金鑰
    }
    data = requests.get(url, params=parameter)
    data = data.json()
    data = pd.DataFrame(data['data'])
    return data

In [12]:
getRevenue('2022-10-01')

            date stock_id country      revenue  revenue_month  revenue_year
0     2022-10-01     1101  Taiwan  10404901000              9          2022
1     2022-10-01     1102  Taiwan   6994078000              9          2022
2     2022-10-01     1103  Taiwan    205264000              9          2022
3     2022-10-01     1104  Taiwan    597159000              9          2022
4     2022-10-01     1108  Taiwan    346635000              9          2022
...          ...      ...     ...          ...            ...           ...
1766  2022-10-01     9951  Taiwan    464373000              9          2022
1767  2022-10-01     9955  Taiwan     79179000              9          2022
1768  2022-10-01     9958  Taiwan    903198000              9          2022
1769  2022-10-01     9960  Taiwan    113755000              9          2022
1770  2022-10-01     9962  Taiwan    264270000              9          2022

[1771 rows x 6 columns]

In [15]:
# 1 month before
testDate=datetime.datetime.strptime("2018-01-31", "%Y-%m-%d")
(testDate-relativedelta(months=0)).strftime("%Y-%m-%d")

'2018-01-31'

In [6]:
# get revenue sqlite data
import sqlite3

n=25
# nPeriod=getDataPeriod(n)
conn=sqlite3.connect('revenueData')
start_date='2022-10-01'

def getRevenueSql(thisMonth):
    conn=sqlite3.connect('revenueData')
    
    getRevenue1=getRevenue(thisMonth)
    getRevenue1.to_sql('revenue'+thisMonth.replace('-','s'),conn,if_exists='replace')
    
def getNYearRevenueSql(start_date,n):
    for i in range(n*12):
        startDate=datetime.datetime.strptime(start_date, "%Y-%m-%d")
        thisMonth=(startDate-relativedelta(months=i)).strftime("%Y-%m-%d")
        getRevenue1=getRevenue(thisMonth)
        getRevenue1.to_sql('revenue'+thisMonth.replace('-','s'),conn,if_exists='replace')    
# for i in range(n*12):
#     startDate=datetime.datetime.strptime(start_date, "%Y-%m-%d")
#     thisMonth=(startDate-relativedelta(months=i)).strftime("%Y-%m-%d")
#     getRevenue1=getRevenue(thisMonth)
#     getRevenue1.to_sql('revenue'+thisMonth.replace('-','s'),conn,if_exists='replace')
#     print(thisMonth)

In [9]:
getRevenueSql('2022-11-01')