In [1]:
from monthData import *

monthData=MonthData()
dataTrans=DataTrans()

In [2]:
# pd.set_option('display.max_columns',None)
# pd.set_option('display.max_rows',None)

In [2]:
revenue=monthData.revenueData()

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('int64'), dtype('<U1')) -> None

In [3]:
revenue

,date,stock_id,country,revenue,revenue_month,revenue_year,dateStamp
0,2006-01-01,1101,Taiwan,2771490000,12,2005,1136044800
1,2006-01-01,1102,Taiwan,1022776000,12,2005,1136044800
2,2006-01-01,1103,Taiwan,283649000,12,2005,1136044800
3,2006-01-01,1104,Taiwan,345562000,12,2005,1136044800
4,2006-01-01,1107,Taiwan,12381000,12,2005,1136044800
...,...,...,...,...,...,...,...
315631,2022-12-01,9951,Taiwan,500111000,11,2022,1669824000
315632,2022-12-01,9955,Taiwan,91270000,11,2022,1669824000
315633,2022-12-01,9958,Taiwan,944060000,11,2022,1669824000
315634,2022-12-01,9960,Taiwan,96570000,11,2022,1669824000
315635,2022-12-01,9962,Taiwan,308663000,11,2022,1669824000

In [11]:
revenueData=revenue.reindex(index=dateList)

In [12]:
revenueData

stock_id,1101,1102,1103,1104,1107,1108,1109,1110,1201,1203,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2005-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-04-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-08-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
priod3Increase=dataTrans.nPeriodIncrease(12,revenue,3)
priod3Increase

stock_id,1101,1102,1103,1104,1107,1108,1109,1110,1201,1203,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2006-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-01,1.0,12.0,-6.0,18.0,NaN,-0.0,12.0,-40.0,3.0,7.0,...,3.0,10.0,114.0,23.0,221.0,-13.0,-16.0,-30.0,12.0,20.0
2022-09-01,16.0,10.0,3.0,32.0,NaN,19.0,3.0,-20.0,4.0,4.0,...,4.0,2.0,136.0,22.0,140.0,3.0,-14.0,-34.0,6.0,38.0
2022-10-01,16.0,2.0,1.0,23.0,NaN,28.0,14.0,15.0,4.0,3.0,...,8.0,-8.0,43.0,26.0,114.0,17.0,-15.0,-29.0,-6.0,30.0
2022-11-01,15.0,-11.0,7.0,21.0,NaN,43.0,1.0,33.0,2.0,8.0,...,4.0,-3.0,12.0,16.0,50.0,29.0,-24.0,-16.0,4.0,24.0
2022-12-01,9.0,-13.0,7.0,11.0,NaN,39.0,1.0,22.0,-0.0,20.0,...,2.0,31.0,-37.0,3.0,67.0,27.0,-25.0,-8.0,7.0,1.0

In [17]:
priod3Increase1=priod3Increase.reset_index

In [18]:
priod3Increase1

<bound method DataFrame.reset_index of stock_id    1101  1102  1103  1104  1107  1108  1109  1110  1201  1203  ...  \
date                                                                    ...
2006-01-01   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
2006-02-01   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
2006-03-01   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
2006-04-01   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
2006-05-01   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
2022-08-01   1.0  12.0  -6.0  18.0   NaN  -0.0  12.0 -40.0   3.0   7.0  ...
2022-09-01  16.0  10.0   3.0  32.0   NaN  19.0   3.0 -20.0   4.0   4.0  ...
2022-10-01  16.0   2.0   1.0  23.0   NaN  28.0  14.0  15.0   4.0   3.0  ...
2022-11-01  15.0 -11.0   7.0  21.0   NaN  43.0   1.0  33.0   2.0   8.0  ...
2022-12-01   9.0 -13.0   7.0  11.0   NaN  39.0   1.0  22.0  -0.0  20.0  ...

stock_id    9944  9945   9946  9949   9950  9951  9955  9958  9960  9962
date
2006-01-01   NaN   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN
2006-02-01   NaN   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN
2006-03-01   NaN   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN
2006-04-01   NaN   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN
2006-05-01   NaN   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN
...          ...   ...    ...   ...    ...   ...   ...   ...   ...   ...
2022-08-01   3.0  10.0  114.0  23.0  221.0 -13.0 -16.0 -30.0  12.0  20.0
2022-09-01   4.0   2.0  136.0  22.0  140.0   3.0 -14.0 -34.0   6.0  38.0
2022-10-01   8.0  -8.0   43.0  26.0  114.0  17.0 -15.0 -29.0  -6.0  30.0
2022-11-01   4.0  -3.0   12.0  16.0   50.0  29.0 -24.0 -16.0   4.0  24.0
2022-12-01   2.0  31.0  -37.0   3.0   67.0  27.0 -25.0  -8.0   7.0   1.0

[204 rows x 1998 columns]>

In [11]:
dm=DateManage()

In [12]:
for i in range(len(dateIndex)):
    dateIndex[i]=dm.monthRelease(dateIndex[i])
print(dateIndex)

TypeError: Index does not support mutable operations