In [1]:
from price import *

In [2]:
allPrice=DayInfoAll()

In [8]:
price=allPrice.getAllPriceData("2022-11-24")
price

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2022-11-24,0050,15641447,1817903787,116.00,116.85,115.90,116.70,1.10,12365
1,2022-11-24,0051,16930,879790,52.00,52.05,51.70,52.00,0.30,112
2,2022-11-24,0052,416952,41611439,99.30,100.15,99.30,100.00,0.90,538
3,2022-11-24,0053,3231,178382,55.50,55.70,55.50,55.70,0.45,1015
4,2022-11-24,0055,377106,8147893,21.68,21.68,21.57,21.62,0.01,350
...,...,...,...,...,...,...,...,...,...,...
32551,2022-11-24,TAIEX,5601547331,221042345269,14649.80,14784.00,14649.80,14784.00,175.46,1685529
32552,2022-11-24,TPEx,711493168,66023331838,184.61,186.54,184.61,186.54,2.19,497139
32553,2022-11-24,Textiles,26813895,1171323533,558.21,566.36,558.21,566.36,8.15,15652
32554,2022-11-24,Tourism,4731096,591493120,103.83,104.36,103.83,104.11,0.28,5066
32555,2022-11-24,TradingConsumersGoods,15723079,1234941936,269.23,272.42,269.23,271.75,2.52,10244

In [9]:
singlePrice=DayInfo()

In [11]:
stockPrice=singlePrice.getPriceData("1999-01-01","2022-11-24","2330")
stockPrice

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,1999-01-05,2330,17733000,1222948000,71.0,71.0,68.0,68.0,-3.0,6601
1,1999-01-06,2330,21492123,1493826134,68.0,71.0,68.0,70.5,2.5,6665
2,1999-01-07,2330,45711016,3372616234,74.0,75.0,71.5,75.0,4.5,13572
3,1999-01-08,2330,72618091,5606699997,76.5,78.5,75.5,76.0,1.0,19616
4,1999-01-11,2330,92199427,7395340432,80.0,81.0,79.0,80.0,4.0,26960
...,...,...,...,...,...,...,...,...,...,...
5939,2022-11-18,2330,37001332,18131673834,491.5,494.0,486.0,487.0,2.0,41694
5940,2022-11-21,2330,30609465,14843805078,487.5,489.5,480.5,482.0,-5.0,35815
5941,2022-11-22,2330,39329440,19112616916,476.0,491.0,476.0,491.0,9.0,40964
5942,2022-11-23,2330,34752559,17111333375,494.5,496.0,488.5,492.0,1.0,32889
5943,2022-11-24,2330,28477359,14073196704,494.0,496.0,492.0,496.0,4.0,34387